.header-upper,
.header-lower {
    margin: 0 109px;
}

.phone {
    color: black;
}

.phone::hover {
    color: blue;
}

.bg-claret {
    background-color: #a8005b;
}

.bg-gray {
    background-color: #1f1f1f;
}

.text-amour {
    color: #f6e5ee;
}
